body {
  font-family: 'Oswald', sans-serif;
  color: #2e2d2d;
  padding: 0px;
  margin: 0px; }

/********* App Layout ********/
.grid-app {
  display: grid;
  grid-template-areas: "mobile-nav" "main"; }

.main {
  grid-area: main; }

.mobile-nav {
  grid-area: mobile-nav;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.76); }

.side-bar {
  grid-area: side-bar;
  width: inherit; }

@media (min-width: 769px) {
  .grid-app {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 1fr; } }

/******** Home ********/
.homeBackground {
  width: 100vw;
  height: 100vh; }

/******** Gallery ********/
.galleryContainer {
  padding-left: 6px;
  padding-right: 6px;
  background-color: #f9fbfc; }

.grid-gallery {
  z-index: 1;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 6px;
  grid-auto-flow: dense;
  grid-auto-rows: 300px; }

#gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (min-width: 769px) {
  #gallery-img img:hover {
    border-radius: 2%;
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    z-index: 0;
    cursor: pointer;
    position: relative; } }

/******* Gallery Modal ********/
.modal-container {
  padding-left: 10px; }

.gallery-modal {
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.767);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 50px);
  grid-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.modal-image {
  width: 65vw;
  height: auto;
  border: 2px solid white;
  grid-column: 2 / span 8;
  grid-row: span 7; }

.modal-cancel-icon {
  width: 50px;
  height: 50px;
  fill: white;
  grid-column: 13; }

.modal-cancel-icon:hover {
  cursor: pointer; }

/********* Drop Down *********/
.drop-down-menu {
  z-index: 1000;
  position: fixed;
  background: rgba(0, 0, 0, 0.767);
  color: white;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  text-align: center; }

.drop-down-list {
  font-size: 40px;
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translatey(-80%);
  padding-left: 0px; }

.drop-down-item {
  margin-top: 20px;
  display: block;
  color: inherit;
  text-decoration: none; }

@media (min-width: 769px) {
  .drop-down-menu {
    z-index: 1000;
    position: fixed;
    background: rgba(0, 0, 0, 0.788);
    color: white;
    width: 25%;
    height: 100%;
    margin-top: 50px;
    text-align: center; }
  .drop-down-list {
    font-size: 40px;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translatey(-90%);
    padding-left: 0px; } }

/******** Mobile Nav Bar *********/
.mobile-nav-bar {
  text-align: center;
  padding-top: 5px; }

.mobile-nav-title {
  font-size: 25px; }

#bg-button {
  float: left;
  width: 40px;
  height: auto; }

#bg-button:hover {
  cursor: pointer; }

.drop-down-cancel-icon {
  margin-left: 5px;
  float: left;
  width: 40px;
  height: auto; }

.drop-down-cancel-icon:hover {
  cursor: pointer; }

/******** Side Bar *********/
.side-bar-container {
  background-color: rgba(255, 255, 255, 0.87);
  position: fixed;
  width: 235px;
  margin-top: 20px;
  margin-left: 15px;
  padding: 10px; }

#side-bar-title-taimoor {
  margin: auto;
  text-align: center;
  font-size: 40px; }

#side-bar-title-taimoor:hover {
  cursor: default; }

#side-bar-subtitle-photograph {
  margin: auto;
  padding-left: 18px;
  font-size: 25px; }

#side-bar-subtitle-photograph:hover {
  cursor: default; }

.side-bar-list {
  margin-top: 30px;
  padding: 0px; }

.side-bar-link {
  list-style-type: none;
  font-size: 17px;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1a1919;
  display: block;
  -webkit-transition: background-color 0.5s ease-out, color 1s ease-out;
  -moz-transition: background-color 0.5s ease-out, color 1s ease-out;
  -o-transition: background-color 0.5s ease-out, color 1s ease-out;
  transition: background-color 0.5s ease-out, color 1s ease-out; }

.side-bar-link:hover {
  -webkit-transition: background-color 0.1s ease-out, color 1s ease-out;
  -moz-transition: background-color 0.1s ease-out, color 1s ease-out;
  -o-transition: background-color 0.1s ease-out, color 1s ease-out;
  transition: background-color 0.1s ease-out, color 1s ease-out;
  font-size: 22px;
  padding-left: 15px;
  background-color: black;
  cursor: pointer; }

.side-bar-list a {
  color: inherit;
  text-decoration: none; }

.side-bar-link:hover {
  transition: color 0.5s ease;
  color: white !important; }
