nav {
  height: 100vh;
  width: 20vh; }

nav a {
  vertical-align: middle; }

#menu-title-taimoor {
  font-family: 'Oswald', sans-serif;
  font-size: 8.2vh;
  font-size: 4.5vw; }

#menu-title-taimoor-mobile {
  font-family: 'Oswald', sans-serif;
  font-size: 8.2vh;
  font-size: 4.5vw;
  padding-left: 30vw; }

#mobile-nav-container {
  width: 100%;
  position: "fixed";
  z-index: "3";
  background-color: "white"; }

.nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 2.6vh;
  font-size: 1.4vw;
  padding-left: 1px; }

.nav-selections {
  padding-top: 5vh; }

/* This is what's making it disappear */
#nav_bar {
  position: fixed;
  width: 100%; }

#bg-button {
  padding-left: 20px; }

#nav-item {
  padding-left: 6px; }

#nav_bar_container {
  padding-left: 20px;
  padding-right: 15px; }
