body {
  font-family: 'Oswald', sans-serif;
  color: #2e2d2d;
  padding: 0px;
  margin: 0px; }

/********* App Layout ********/
.grid-app {
  display: grid;
  grid-template-areas: "mobile-nav" "main"; }

.main {
  grid-area: main; }

.mobile-nav {
  grid-area: mobile-nav;
  width: 100%;
  height: 50px;
  position: fixed; }

.side-bar {
  grid-area: side-bar;
  width: inherit; }

@media (min-width: 769px) {
  .grid-app {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 1fr; } }

/******** Home ********/
.homeBackground {
  width: 100vw;
  height: 100vh; }

/******** Gallery ********/
.galleryContainer {
  padding-left: 6px;
  padding-right: 6px;
  background-color: #f9fbfc; }

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 6px;
  grid-auto-flow: dense;
  grid-auto-rows: 300px; }

#gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

#gallery-img img:hover {
  border-radius: 2%;
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
  cursor: pointer; }

/********* Nav *********/
#bg-button {
  display: inline-block; }

#mobile-nav-container {
  width: 100%;
  z-index: 3;
  background-color: white; }

.nav-selections {
  padding-top: 5vh; }

#nav-item {
  padding-left: 6px; }

#nav_bar_container {
  padding-left: 20px;
  padding-right: 15px; }

.drop-down-list {
  padding-left: 50vh;
  padding-top: 50vh;
  font-size: 8.2vh;
  font-size: 4.5vw; }

/******** Mobile Nav Bar *********/
.mobile-nav-bar {
  text-align: center; }

/******** Side Bar *********/
.side-bar-container {
  background-color: rgba(255, 255, 255, 0.87);
  position: fixed;
  width: 235px;
  margin-top: 20px;
  margin-left: 15px;
  padding: 10px; }

#side-bar-title-taimoor {
  margin: auto;
  text-align: center;
  font-size: 40px; }

#side-bar-title-taimoor:hover {
  cursor: default; }

#side-bar-subtitle-photograph {
  margin: auto;
  padding-left: 18px;
  font-size: 25px; }

#side-bar-subtitle-photograph:hover {
  cursor: default; }

.side-bar-list {
  margin-top: 30px;
  padding: 0px; }

.side-bar-link {
  list-style-type: none;
  font-size: 17px;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1a1919;
  display: block;
  -webkit-transition: background-color 0.5s ease-out, color 1s ease-out;
  -moz-transition: background-color 0.5s ease-out, color 1s ease-out;
  -o-transition: background-color 0.5s ease-out, color 1s ease-out;
  transition: background-color 0.5s ease-out, color 1s ease-out; }

.side-bar-link:hover {
  -webkit-transition: background-color 0.1s ease-out, color 1s ease-out;
  -moz-transition: background-color 0.1s ease-out, color 1s ease-out;
  -o-transition: background-color 0.1s ease-out, color 1s ease-out;
  transition: background-color 0.1s ease-out, color 1s ease-out;
  font-size: 22px;
  padding-left: 15px;
  background-color: black;
  cursor: pointer; }

.side-bar-list a {
  color: inherit;
  text-decoration: none; }

.side-bar-link:hover {
  transition: color 0.5s ease;
  color: white !important; }
